<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../../theme.css">
</head>
<body>
  <div class="slide">
    <div class="content flex-col gap-48">
      <div class="tip-number">1</div>
      <h2 class="heading heading-lg">The first thing to know</h2>
      <p class="body body-lg" style="max-width: 780px;">
        Explain the first point here. Keep it to 2 sentences max. Leave the viewer wanting to swipe.
      </p>
    </div>
    <span class="watermark">@yourhandle</span>
  </div>
</body>
</html>
